:root {
    --pokedex-main: #DC0A2D;
    --pokedex-incline: #8B051D;
    --pokedex-borders: #7D0011;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31363F;
}

/* Pokedex's Left Side Styling */

.pokedex-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 615px;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, .5);
}

.top-part {
    width: 100%;
    height: 65px;
    background-color: var(--pokedex-main);
    border: 3px solid var(--pokedex-borders);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.big-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    translate: 20px 18px;
    background-color: #E0DFDB;
    border: 3px solid var(--pokedex-borders);
    border-radius: 50%;
    z-index: 1;
}

.outer-circle {
    width: 80px;
    height: 80px;
    position: absolute;
    translate: 4px 4px;
    background-color: #2BAFFF;
    border: 3px solid #233038;
    border-radius: 50%;
}

.inner-circle {
    width: 68px;
    height: 68px;
    position: absolute;
    translate: 4px 4px;
    background-color: #196B9A;
    border-radius: 50%;
}

.inner-circle::before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    translate: 2px 2px;
    background-color: #2BAFFF;
    border-radius: 50%;
}

.inner-circle::after{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    translate: 8px 8px;
    background-color: #A3D9FB;
    border-radius: 50%;
}

.small-circles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 30px;
    position: absolute;
    translate: 120px 15px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 3px solid var(--pokedex-borders);
    border-radius: 50%;
}

.bottom-part {
    width: 100%;
    height: 475px;
    background-color: var(--pokedex-main);
    border: 3px solid var(--pokedex-borders);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 12px 0 var(--pokedex-borders);
}

.divider {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: var(--pokedex-incline);
}

.top-indent::before,
.top-indent::after,
.bottom-indent::before,
.bottom-indent::after,
.inner-indent::before,
.inner-indent::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.top-indent {
    width: 140px;
    height: 78px;
    translate: 0 -3px;
    background-color: var(--pokedex-main);
    border-left: 3px solid var(--pokedex-borders);
    border-bottom: 3px solid var(--pokedex-borders);
}

.top-indent::before {
    translate: 137px 3px;
    border-top: 75px solid var(--pokedex-borders);
    border-right: 75px solid transparent;
}

.top-indent::after {
    translate: 137px -75px;
    border-top: 75px solid var(--pokedex-main);
    border-right: 75px solid transparent;
}

.bottom-indent {
    width: 180px;
    height: 78px;
    translate: calc(45% - 1px) 12px;
    background-color: var(--pokedex-main);
    border-top: 3px solid var(--pokedex-borders);
    border-right: 3px solid var(--pokedex-borders);
}

.bottom-indent::before {
    translate: -75px -3px;
    border-bottom: 75px solid var(--pokedex-borders);
    border-left: 75px solid transparent;
}

.bottom-indent::after {
    translate: -75px -75px;
    border-bottom: 75px solid var(--pokedex-main);
    border-left: 75px solid transparent;
}

.inner-content {
    width: 337px;
    height: 450px;
    margin: 5px;
    border: 3px solid var(--pokedex-borders);
}

.inner-indent {
    width: 123px;
    height: 77px;
    translate: 211px -77px;
    background-color: var(--pokedex-main);
    border-top: 3px solid var(--pokedex-borders);
    border-right: 3px solid var(--pokedex-borders);
}

.inner-indent::before {
    translate: -75px -3px;
    border-bottom: 75px solid var(--pokedex-borders);
    border-left: 75px solid transparent;
}

.inner-indent::after {
    translate: -75px -75px;
    border-bottom: 75px solid var(--pokedex-main);
    border-left: 75px solid transparent;
}

/* Pokedex's content styling */

.display-container {
    width: 250px;
    height: 243px;
    translate: 40px -40px;
    background-color: #DEDEDE;
    border: 3px solid var(--pokedex-borders);
    box-shadow: 0 3px 0 #848585;
}

.display-container-indent {
    width: 0;
    height: 0;
    translate: -3px 200px;
    border-bottom: 40px solid var(--pokedex-borders);
    border-right: 40px solid transparent;
}

.display-container-indent::before, 
.display-container-indent::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.display-container-indent::before {
    translate: 0 3px;
    border-bottom: 40px solid #848585;
    border-right: 40px solid transparent;
}

.display-container-indent::after {
    translate: 0 -32px;
    border-bottom: 40px solid var(--pokedex-main);
    border-right: 40px solid transparent;
}

.top-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 30px;
    position: absolute;
    translate: 73px -38px;
}

.small-circle {
    width: 15px;
    height: 15px;
    border: 3px solid var(--pokedex-borders);
    border-radius: 50%;
}

.bottom-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 30px;
    position: absolute;
    translate: 38px -5px;
}

.lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--pokedex-borders);
}

.img-container {
    width: 180px;
    height: 170px;
    translate: 33px -7px;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, 0.5);
}

.two-lights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    height: 30px;
    position: absolute;
    translate: 85px -27px;
}

.light {
    width: 50px;
    height: 10px;
    border: 3px solid var(--pokedex-borders);
    border-radius: 16px;
    background-color: #232323;
}

.red {
    background-color: #E9355A;
}

.yellow {
    background-color: #FCEC64;
}

.green {
    background-color: #5CA66D;
}

.blue {
    background-color: #28AAFD;
}

.submit-button {
    width: 50px;
    height: 50px;
    position: absolute;
    translate: 12px -27px;
    background-color: #00312B;
    border: 3px solid #000B12;
    border-radius: 50%;
    box-shadow: 0 6px 0 #000B12;
    cursor: pointer;
}

.submit-button:active {
    translate: 12px -24px;
    box-shadow: none;
}

.user-input {
    width: 151px;
    height: 75px;
    position: absolute;
    translate: 72px 18px;
    background-color: #51AD60;
    border: 3px solid var(--pokedex-borders);
    border-radius: 8px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}

.d-pad {
    width: 30px;
    height: 30px;
    position: absolute;
    translate: 262px 18px;
    background-color: #00312B;
}

.d-pad::after {
    content: '';
    display: block;
    width: 30px;
    height: 6px;
    position: absolute;
    translate: 0 30px;
    background-color: #000B12;
    z-index: -1;
}

.direction {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #00312B;
    border: 3px solid #000B12;
    border-radius: 3px;
    cursor: pointer;
}

.up:active {
    height: 23px;
    transform: translateY(6px);
    background-color: #000B12;
}

.down:active,
.left:active,
.right:active {
    transform: translateY(6px);
    background-color: #000B12;
    box-shadow: none;
}

.up {
    translate: 0px -29px;
    border-bottom: 0;
}

.down {
    translate: 0px 29px;
    border-top: 0;
    box-shadow: 0 6px 0 #000B12;
}

.left {
    translate: -29px 0;
    border-right: 0;
    box-shadow: 0 6px 0 #000B12;
}

.right {
    translate: 29px 0;
    border-left: 0;
    box-shadow: 0 6px 0 #000B12;
}

/* Cylinder Styling */

.cylinder {
    width: 50px;
    height: 554px;
    position: absolute;
    translate: 0 30px;
    background-color: var(--pokedex-main);
    border: 3px solid var(--pokedex-borders);
    border-radius: 8px;
}

.cylinder::before, 
.cylinder::after {
    content: '';
    display: block;
}

.cylinder::before {
    width: 44px;
    height: 20px;
    translate: 0 -7px;
    background-color: var(--pokedex-main);
    border-top: 3px solid var(--pokedex-borders);
    border-radius: 50%;
}

.cylinder::after {
    width: 50px;
    height: 20px;
    translate: -3px 517px;
    background-color: var(--pokedex-borders);
    border-radius: 50%;
}

.lighting {
    width: 10px;
    height: 540px;
    position: absolute;
    translate: 7px -23px;
    background-color: #F0506A;
    border-radius: 4px;
}

/* Pokedex's Right Side Styling */

.pokedex-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 350px;
    height: 615px;
    border-radius: 8px;
}

.side-part {
    width: 355px;
    height: 466px;
    margin-left: -5px;
    background-color: var(--pokedex-main);
    border: 3px solid var(--pokedex-borders);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 6px 0 var(--pokedex-borders);
}

.side-indent::before,
.side-indent::after,
.content-indent::before,
.content-indent::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
}

.side-indent {
    width: 130px;
    height: 78px;
    translate: 2px -78px;
    background-color: var(--pokedex-main);
    border-top: 3px solid var(--pokedex-borders);
}

.side-indent::before {
    translate: 130px -3px;
    border-bottom: 75px solid var(--pokedex-borders);
    border-right: 75px solid transparent;
}

.side-indent::after {
    translate: 130px -75px;
    border-bottom: 75px solid var(--pokedex-main);
    border-right: 75px solid transparent;
}

.side-content {
    width: 337px;
    height: 450px;
    margin: 5px;
    translate: 2px -78px;
    border: 3px solid var(--pokedex-borders);
}

 .content-indent {
    width: 123px;
    height: 77px;
    translate: -3px -77px;
    background-color: var(--pokedex-main);
    border-top: 3px solid var(--pokedex-borders);
    border-left: 3px solid var(--pokedex-borders);
}

.content-indent::before {
    translate: 120px -3px;
    border-bottom: 75px solid var(--pokedex-borders);
    border-right: 75px solid transparent;
}

.content-indent::after {
    translate: 120px -75px;
    border-bottom: 75px solid var(--pokedex-main);
    border-right: 75px solid transparent;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 263px;
    height: 100px;
    translate: 33px -40px;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, 0.5);
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 263px;
    padding: 0 6px;
}

.info-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 263px;
    padding: 0 6px;
}

.info {
    color:#FFFFFF;
    text-align: center;
}

.info-body .info {
    width: 75px;
}

.blue-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 265px;
    translate: 32px -18px;
}

.blue-button {
    width: 53px;
    height: 45px;
    background-color: #28AAFD;
    border: 3px solid#035175;
    box-shadow: 0 6px 0 #035175;
    cursor: pointer;
}

.blue-button:active {
    translate: 0 6px;
    border-bottom: 0;
    box-shadow: none;
}

.black-lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 103px;
    height: 30px;
    position: absolute;
    translate: 193px -12px;
}

.pale-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    translate: 32px 15px;
}

.pale-button {
    width: 53px;
    height: 45px;
    background-color: #DEDEDE;
    border: 3px solid #848585;
    box-shadow: 0 6px 0 #848585;
    cursor: pointer;
}

.pale-button:active {
    translate: 0 6px;
    border-bottom: 0;
    box-shadow: none;
}

.yellow-circle {
    width: 35px;
    height: 35px;
    translate: 263px -18px;
    border: 3px solid var(--pokedex-borders);
    border-radius: 50%;
    background-color: #FEEC80;
}

.bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 263px;
    translate: 33px 12px;
}

.misc-info {
    width: 100px;
    height: 40px;
    background-color: #232323;
    border-radius: 8px;
    box-shadow: inset 0 0 16px 10px rgba(0, 0, 0, 0.5);
}
